In [33]:
import pandas as pd

In [34]:
data=pd.read_csv('customer.csv',encoding='latin')

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [36]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [37]:
data.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [38]:
data.drop(['customerID'],axis='columns',inplace=True)

In [39]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [40]:
data.loc[488]

gender                                 Female
SeniorCitizen                               0
Partner                                   Yes
Dependents                                Yes
tenure                                      0
PhoneService                               No
MultipleLines                No phone service
InternetService                           DSL
OnlineSecurity                            Yes
OnlineBackup                               No
DeviceProtection                          Yes
TechSupport                               Yes
StreamingTV                               Yes
StreamingMovies                            No
Contract                             Two year
PaperlessBilling                          Yes
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          52.55
TotalCharges
Churn                                      No
Name: 488, dtype: object

In [41]:
data['TotalCharges']=pd.to_numeric(data['TotalCharges'],errors='coerce')

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [43]:
data.shape

(7043, 20)

In [44]:
data.dropna(inplace=True)

In [45]:
data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [46]:
def pri_unique(df):
    for col in df:
        if df[col].dtype=='object':
            print(f'{col}:- {df[col].unique()}')

In [47]:
pri_unique(data)

gender:- ['Female' 'Male']
Partner:- ['Yes' 'No']
Dependents:- ['No' 'Yes']
PhoneService:- ['No' 'Yes']
MultipleLines:- ['No phone service' 'No' 'Yes']
InternetService:- ['DSL' 'Fiber optic' 'No']
OnlineSecurity:- ['No' 'Yes' 'No internet service']
OnlineBackup:- ['Yes' 'No' 'No internet service']
DeviceProtection:- ['No' 'Yes' 'No internet service']
TechSupport:- ['No' 'Yes' 'No internet service']
StreamingTV:- ['No' 'Yes' 'No internet service']
StreamingMovies:- ['No' 'Yes' 'No internet service']
Contract:- ['Month-to-month' 'One year' 'Two year']
PaperlessBilling:- ['Yes' 'No']
PaymentMethod:- ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn:- ['No' 'Yes']

In [48]:
def rep_map(li,df):
    for column in li:
        df[column]=df[column].map({'No':'No','Yes':'Yes','No internet service':'No'})

In [49]:
li=['OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies']
rep_map(li,data)

In [50]:
pri_unique(data)

gender:- ['Female' 'Male']
Partner:- ['Yes' 'No']
Dependents:- ['No' 'Yes']
PhoneService:- ['No' 'Yes']
MultipleLines:- ['No phone service' 'No' 'Yes']
InternetService:- ['DSL' 'Fiber optic' 'No']
OnlineSecurity:- ['No' 'Yes']
OnlineBackup:- ['Yes' 'No']
DeviceProtection:- ['No' 'Yes']
TechSupport:- ['No' 'Yes']
StreamingTV:- ['No' 'Yes']
StreamingMovies:- ['No' 'Yes']
Contract:- ['Month-to-month' 'One year' 'Two year']
PaperlessBilling:- ['Yes' 'No']
PaymentMethod:- ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn:- ['No' 'Yes']

In [51]:
data.replace('No phone service','No',inplace=True)

In [52]:
pri_unique(data)

gender:- ['Female' 'Male']
Partner:- ['Yes' 'No']
Dependents:- ['No' 'Yes']
PhoneService:- ['No' 'Yes']
MultipleLines:- ['No' 'Yes']
InternetService:- ['DSL' 'Fiber optic' 'No']
OnlineSecurity:- ['No' 'Yes']
OnlineBackup:- ['Yes' 'No']
DeviceProtection:- ['No' 'Yes']
TechSupport:- ['No' 'Yes']
StreamingTV:- ['No' 'Yes']
StreamingMovies:- ['No' 'Yes']
Contract:- ['Month-to-month' 'One year' 'Two year']
PaperlessBilling:- ['Yes' 'No']
PaymentMethod:- ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn:- ['No' 'Yes']

In [53]:
data[data['MultipleLines']=='No phone service']

Empty DataFrame
Columns: [gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

In [54]:
lis=['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']
for li in lis:
    data[li]=data[li].map({'Yes':1,'No':0})
    print(f'{data[li].unique()}')

[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]

In [55]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,0,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.50,0
2,Male,0,0,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,0,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [56]:
pri_unique(data)

gender:- ['Female' 'Male']
InternetService:- ['DSL' 'Fiber optic' 'No']
Contract:- ['Month-to-month' 'One year' 'Two year']
PaymentMethod:- ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [57]:
data=pd.get_dummies(data,columns=['gender','InternetService','Contract','PaymentMethod']).astype(int)

In [58]:
data

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,0,1,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,1,0
1,0,0,0,34,1,0,1,0,1,0,...,1,0,0,0,1,0,0,0,0,1
2,0,0,0,2,1,0,1,1,0,0,...,1,0,0,1,0,0,0,0,0,1
3,0,0,0,45,0,0,1,0,1,1,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,2,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,24,1,1,1,0,1,1,...,1,0,0,0,1,0,0,0,0,1
7039,0,1,1,72,1,1,0,1,1,0,...,0,1,0,0,1,0,0,1,0,0
7040,0,1,1,11,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
7041,1,1,0,4,1,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
7042,0,0,0,66,1,0,1,0,1,1,...,0,1,0,0,0,1,1,0,0,0

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7032 non-null   int32
 1   Partner                                  7032 non-null   int32
 2   Dependents                               7032 non-null   int32
 3   tenure                                   7032 non-null   int32
 4   PhoneService                             7032 non-null   int32
 5   MultipleLines                            7032 non-null   int32
 6   OnlineSecurity                           7032 non-null   int32
 7   OnlineBackup                             7032 non-null   int32
 8   DeviceProtection                         7032 non-null   int32
 9   TechSupport                              7032 non-null   int32
 10  StreamingTV                              7032 non-null   int32
 11  StreamingMovies                          7032 non-null   int32
 12  PaperlessBilling                         7032 non-null   int32
 13  MonthlyCharges                           7032 non-null   int32
 14  TotalCharges                             7032 non-null   int32
 15  Churn                                    7032 non-null   int32
 16  gender_Female                            7032 non-null   int32
 17  gender_Male                              7032 non-null   int32
 18  InternetService_DSL                      7032 non-null   int32
 19  InternetService_Fiber optic              7032 non-null   int32
 20  InternetService_No                       7032 non-null   int32
 21  Contract_Month-to-month                  7032 non-null   int32
 22  Contract_One year                        7032 non-null   int32
 23  Contract_Two year                        7032 non-null   int32
 24  PaymentMethod_Bank transfer (automatic)  7032 non-null   int32
 25  PaymentMethod_Credit card (automatic)    7032 non-null   int32
 26  PaymentMethod_Electronic check           7032 non-null   int32
 27  PaymentMethod_Mailed check               7032 non-null   int32
dtypes: int32(28)
memory usage: 824.1 KB

In [60]:
cols_to_scale=['tenure','MonthlyCharges','TotalCharges']
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
data[cols_to_scale]=scaler.fit_transform(data[cols_to_scale])

In [61]:
data

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,0,-1.280248,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,1,0
1,0,0,0,0.064303,1,0,1,0,1,0,...,1,0,0,0,1,0,0,0,0,1
2,0,0,0,-1.239504,1,0,1,1,0,0,...,1,0,0,1,0,0,0,0,0,1
3,0,0,0,0.512486,0,0,1,0,1,1,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,-1.239504,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,-0.343137,1,1,1,0,1,1,...,1,0,0,0,1,0,0,0,0,1
7039,0,1,1,1.612573,1,1,0,1,1,0,...,0,1,0,0,1,0,0,1,0,0
7040,0,1,1,-0.872808,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
7041,1,1,0,-1.158016,1,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
7042,0,0,0,1.368109,1,0,1,0,1,1,...,0,1,0,0,0,1,1,0,0,0

In [62]:
X=data.drop('Churn',axis='columns')
y=data['Churn']

In [63]:
from sklearn.model_selection import train_test_split,GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [64]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score,confusion_matrix

# param_grid = {
#     'C': [0.1, 1, 10, 100],            # Regularization parameter
#     'gamma': [1, 0.1, 0.01, 0.001],    # Kernel coefficient for 'rbf', 'poly' and 'sigmoid'
#     'kernel': ['rbf', 'poly', 'sigmoid'],  # Kernel type
# }

# grid_search = GridSearchCV(estimator=svm_model, param_grid=param_grid, cv=5, scoring='accuracy', verbose=1)
logistic_model = LogisticRegression()
tree_model = DecisionTreeClassifier()
svm_model = SVC()

# Train models
logistic_model.fit(X_train, y_train)
tree_model.fit(X_train, y_train)
svm_model.fit(X_train, y_train)
# grid_search.fit(X_train,y_train)

# Predictions
logistic_pred = logistic_model.predict(X_test)
tree_pred = tree_model.predict(X_test)
svm_pred = svm_model.predict(X_test)
# grid_pred=grid_search.predict(X_test)

print("Logistic Regression Accuracy:", accuracy_score(y_test, logistic_pred))
print("Decision Tree Accuracy:", accuracy_score(y_test, tree_pred))
print("SVM Accuracy:", accuracy_score(y_test, svm_pred))
# print("Grid:", accuracy_score(y_test, grid_pred))

Logistic Regression Accuracy: 0.7889125799573561
Decision Tree Accuracy: 0.7306325515280739
SVM Accuracy: 0.7903340440653873

In [65]:
confusion_matrix(y_test,logistic_pred)

array([[917, 116],
       [181, 193]], dtype=int64)